@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy-SemiBold.woff2);
    /* Add more formats if needed (e.g., woff2, ttf) */
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url(Gilroy-Medium.woff2);
    /* Add more formats if needed (e.g., woff2, ttf) */
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url(Gilroy-Light.woff2);
    /* Add more formats if needed (e.g., woff2, ttf) */
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
     
}
nav{
    height:80px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
nav h4{
    font-size: 20px;
    margin-right: 2vw;
}
nav span{
    background-color: black;
    align-self: center;
    color: white;
    padding: 10px;
    border-radius: 50%;
}
#center{
    padding: 10vw 9vw 10vw 9vw;
    
}
#center h1{
    font-family: 'Gilroy-Medium';
    font-size: 7vw;
    font-weight:500;
    line-height:8vw;
}
#center-left{
    width: 100%;
    margin-top: 7vh;
    display: flex;
    justify-content: space-between;
}
#center-left p{
    font-size: 1.7vw;
    font-family: 'Gilroy-Medium';
    font-weight:700;
    color: rgb(106, 102, 98);
    line-height: 2.4vw;
    letter-spacing:0.02vw;
}
#center-right{
    width:22%;
    margin-top: 20px;
}
.elem{
    padding: 20px 0;
    border-top: 2px solid rgb(106, 102, 98);
    display: flex;
    justify-content: space-between;
}
.elem span{
    font-size: 20px;
    opacity: 0;
}
.elem a{
    color:black;
    text-decoration: none;
}
footer{
    height:40%;
    background-image: url(image.webp);
    background-size:cover;
    background-position:0 15%;
}

.elem:hover{
    background-color: rgb(235, 239, 239);
}
.elem:hover a{
    text-decoration: underline;
}
.elem:hover span{
    opacity: 1;
}
nav h4:hover{
    text-decoration: underline;
    cursor: pointer;
}
nav span:hover{
    color:black;
    background-color:white ;
}
@media (max-width:600px) {
    nav{
        height:60px;
        display: flex;
        justify-content:flex-end;
        align-items: center;
        margin: 0 4.5vw;
    }
    nav h4{
        font-size: 15px;
        font-weight: bold;
        margin-right: 2vw;
    }
    nav span{
        background-color: black;
        align-self: center;
        color: white;
        margin-left: 10px;
        padding: 10px;
        border-radius: 50%;
    }
    #center{
        padding: 4.5vw 8vw 7.5vw 8vw;
    }
    #center h1{
        font-family: 'Gilroy-Light';
        font-size: 8vw;
        font-weight:bold;
        line-height:8vw;
        text-align:inherit;
    }
    #center-left{
        width: 100%;
        display: flex;
        margin-top: 19px;
        flex-direction: column;
        justify-content: space-between;
    }
    #center-left p{
        font-size: 2.7vw;
        font-family: 'Gilroy-Medium';
        font-weight:700;
        color: rgb(106, 102, 98);
        line-height: 3.2vw;
    }
    #center-right{
        width:100%;
        margin:20px 0px;
    }
    .elem{
        padding: 20px 0;
        border-top: 1px solid rgb(106, 102, 98);
        display: flex;
        justify-content: space-between;
    }
    .elem span{
        font-size: 15px;
        opacity: 1;
    }
    .elem a{
        color:black;
        font-size:medium;
        text-decoration: none;
    }
    footer{
        height:35%;
        width: 100%;
        background-repeat: no-repeat;
        background-image: url(image.webp);
        background-size:cover;
    }
}